<div class="panel panel--perma">
  <article class="message-board">
    <header class="perma__header push--bottom">
      <h1 class="perma__title perma__title--toolbar">Message Board</h1>
      <label class="perma__new">
        <%= link_to "+ New message", "#", class: "btn btn--small btn--primary" %>
      </label>
    </header>

    <section class="message-board__content push--top">
      <table class="messages-table messages-table--for-index">
        <tbody>
          <% @messages.each do |message| %>
            <tr class="messages-table__row">
              <td class="messages-table__avatar">
                <%= image_tag "avatar-placeholder.gif", class: "avatar" %>
              </td>
              <td class="messages-table__what">
                <%= link_to recordable_path(message) do %>
                  <%= tag.strong message.recordable.subject, class: "messages-table__subject" %>
                  <span class="messages-table__overflow">
                    <span class="txt--uncolor">
                      John Doe

                      <span class="u-hide-on-template">
                        •
                        <time datetime="2020-06-28T12:31:49Z" data-local="time-or-date" title="June 28, 2020 at 2:31pm CEST">Jun 28</time>
                        --
                        <%= message.recordable.content %>
                      </span>
                    </span>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </article>

</div>